fastapi
uvicorn[standard]
pydantic
tensorflow
pandas
numpy
sqlalchemy
alembic
python-dotenv
pillow
opencv-python         
scikit-learn
httpx
loguru
reportlab            
psycopg2-binary
python-multipart

